body {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #464545;


}

/****Header***/
h1 {
  color: #FFF;

  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}
h2 {
  font-family: 'Sacramento', cursive;
  color: #FFF;
}
h3 {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
}
.container-fluid {
  padding: 3% 15%;
}
.header {
  background-color: #ff4c68;
}
.menu {
  font-family: 'Amatic SC', cursive;
  padding-right: 10%;
}
.nav-item {
  margin: 0 18px;
  font-size: 3rem;

}
.navbar-brand {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  padding-left: 10%;
}
.title {
  padding: 5% 0;
}
/****middle****/
.icon {
  margin: 20px 15px;
}
.middle {
  padding: 0 10%;
}

/****main****/
.main {
  padding: 0 10%;
  background-color: #FFF;
  color: #464545;
}
